<!DOCTYPE html>
<html>
<head>
    <title>AI Girlfriend</title>
</head>
<body>
    <h1>Welcome, {{ current_user.username }}</h1>
    <h1>AVA</h1>
    <form method="POST" action="/send_message">
        <input type="text" name="human_input" placeholder="enter...">
        <button type="submit">Send</button>
    </form>
    <div id="response_message"></div>

    <h2>Response:</h2>
    <p id="response-text"></p>
    <audio id="response-audio" controls>
        <source id="audio-source" src="" type="audio/mpeg">
    </audio>

    <script>
        const form = document.querySelector('form');
        const responseMessage = document.getElementById('response_message');
        const responseText = document.getElementById('response-text');
        const audioSource = document.getElementById('audio-source');
        const responseAudio = document.getElementById('response-audio');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(form);
            fetch('/send_message', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                responseText.innerText = data.response;
                if (data.audio_file) {
                    audioSource.src = `/download_audio?file_path=${data.audio_file}`;
                    responseAudio.load();
                }
            });
            form.reset();
        });
    </script>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
